Repository omerkaya1/abf-guard, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy, api, pkg, integration-tests, docs, internal

[Fix] Package naming:
  api/abf-guard.proto
  cmd/grpc/client.go
  internal/grpc/api/abf-guard.pb.go
  internal/grpc/handler.go
  internal/grpc/handler_test.go
  internal/grpc/request.go
  internal/grpc/request_test.go
  internal/grpc/response.go
  internal/grpc/response_test.go
  internal/grpc/server.go
Labels: api

[Fix] Broken dependencies:
  go.mod
  go.yml
Labels: none

[Fix] Further improvements to the project:
  .dockerignore
  Makefile
  README.md
  cmd/client.go
  cmd/root.go
  cmd/server.go
  docs/PROGRESS.md
  docs/TODO.md
  go.mod
  internal/db/psql.go
  internal/domain/bucket/bucket.go
  internal/domain/bucket/bucket_test.go
  internal/domain/bucket/manager.go
  internal/domain/bucket/manager_test.go
  internal/domain/bucket/settings.go
  internal/domain/bucket/settings_test.go
  internal/domain/bucket/storage.go
  internal/domain/bucket/store_test.go
  internal/domain/bucket/validators.go
  internal/domain/config/configuration.go
  internal/domain/config/configuration_test.go
  internal/domain/errors/error.go
  internal/domain/interfaces/bucket/bucket_mock.go
  internal/domain/interfaces/bucket/manager_mock.go
  internal/domain/interfaces/bucket/store_mock.go
  internal/domain/interfaces/db/storage_mock.go
  internal/grpc/server.go
  log/logger.go
  test/integration-test/api/abf-guard.pb.go
  test/integration/main_test.go
Labels: api, integration-tests, docs, internal

[Fix] Logger package slimmed:
  log/logger.go
Labels: none

[Refactor] Project source files refactored:
  .github/workflows/go.yml
  Makefile
  README.md
  cmd/client.go
  cmd/server.go
  docs/PROGRESS.md
  docs/TODO.md
  internal/db/psql.go
  internal/domain/bucket/bucket_test.go
  internal/domain/bucket/manager.go
  internal/domain/bucket/manager_test.go
  internal/domain/bucket/settings.go
  internal/domain/bucket/settings_test.go
  internal/domain/bucket/storage.go
  internal/domain/bucket/store_test.go
  internal/domain/bucket/validators.go
  internal/domain/config/configuration.go
  internal/domain/config/configuration_test.go
  internal/domain/errors/error.go
  internal/domain/interfaces/bucket/store.go
  internal/domain/interfaces/db/storage.go
  internal/grpc/handler_test.go
  internal/grpc/request_test.go
  internal/grpc/response_test.go
  internal/grpc/server.go
  internal/log/logger.go
  internal/log/logger_test.go
Labels: api, docs, internal

[Refactor] Package internal structure refactored:
  .gitignore
  cmd/client.go
  cmd/server.go
  internal/config/configuration.go
  internal/config/configuration_test.go
  internal/db/psql.go
  internal/db/storage.go
  internal/db/storage_mock.go
  internal/domain/bucket.go
  internal/domain/bucket/storage.go
  internal/domain/bucket_mock.go
  internal/domain/bucket_test.go
  internal/domain/errors/error.go
  internal/domain/interfaces/bucket/bucket.go
  internal/domain/interfaces/bucket/bucket_mock.go
  internal/domain/interfaces/bucket/manager.go
  internal/domain/interfaces/bucket/manager_mock.go
  internal/domain/interfaces/bucket/store.go
  internal/domain/interfaces/bucket/store_mock.go
  internal/domain/interfaces/db/storage_mock.go
  internal/domain/manager.go
  internal/domain/manager_mock.go
  internal/domain/manager_test.go
  internal/domain/settings.go
  internal/domain/settings_test.go
  internal/domain/storage.go
  internal/domain/storage_mock.go
  internal/domain/storage_test.go
  internal/domain/validators.go
  internal/server/api/abf-guard.pb.go
  internal/server/handler.go
  internal/server/handler_test.go
  internal/server/request.go
  internal/server/request_test.go
  internal/server/response.go
  internal/server/response_test.go
  internal/server/server.go
  main.go
  test/integration-test/api/abf-guard.pb.go
  test/integration/main_test.go
Labels: integration-tests, internal

[Refactor] Small fixes and modifications:
  .gitignore
  Makefile
  cmd/client.go
  cmd/root.go
  cmd/server.go
  internal/db/psql.go
  internal/db/storage.go
  internal/db/storage_mock.go
  internal/domain/bucket_mock.go
  internal/domain/manager.go
  internal/domain/manager_mock.go
  internal/domain/storage_mock.go
  internal/domain/validators.go
  internal/server/handler.go
  internal/server/handler_test.go
  internal/server/server.go
  main.go
Labels: internal

.github/labeler.yml:

# Deployments
deploy: deployments/**/*

# API
api:
  - api/**/*
  - internal/grpc/**/*

# DB
pkg: db/**/*

# Integration tests
integration-tests: test/**/*

# Documentation
docs: docs/**/*

# Internal
internal:
  - internal/db/**/*
  - internal/domain/**/*
